/* ## BASKERVILLE UI #################### */

:root {
    --color-baskerville-accent: #9580ff;
    --color-baskerville-accent-secondary: #ff9580;
    --color-baskerville-accent-tertiary: #ff80bf;
    --color-baskerville-accent-highlight: #80ffea;
    --color-baskerville-inactive: #6c7393;
    --color-baskerville-border: #21222c;
    --color-baskerville-border-secondary: rgba(149, 128, 255, 0.251);
    --color-baskerville-border-tertiary: var(--color-baskerville-inactive) --color-baskerville-border-highlight: var(--color-baskerville-accent-highlight);
    --color-baskerville-content: rgba(33, 33, 38, 0.85);
    --color-baskerville-content-window: #010101;
    --color-baskerville-glow: rgba(255, 255, 255, 0.2);
    --color-baskerville-shadow: rgba(0, 0, 0, 0.9);
    --color-baskerville-text-highlight: var(--color-baskerville-accent-highlight);
    --color-baskerville-text-primary: #e6e6e6;
    --color-baskerville-text-secondary: rgba(255, 255, 255, 0.8);
    --color-baskerville-text-tertiary: #a7abbe;
    --color-baskerville-text-dark: #414558;
    --color-baskerville-text-inactive: var(--color-baskerville-inactive);

    --color-baskerville-failure: #9d5c5c;
    --color-baskerville-failure-secondary: #ff9580;
    --color-baskerville-success: #5bb372;
    --color-baskerville-success-secondary: #8aff80;

    --filter-backdrop: none;
    --color-baskerville-parchment: #c0b29c;
    --color-baskerville-background: linear-gradient(0deg, rgba(33, 34, 44, 0.9) 0%, rgba(33, 34, 44, 0.9) 75%, rgba(33, 34, 44, 0.9) 100%);
    --color-baskerville-background-notrans: #21222c;

    /* Fonts */
    --font-primary: "Primary Font";
    --font-mono: "Monospaced";
    --font-header: "Header";
    --font-sans: "Primary Sans";
    --font-lvlup: "LevelUp Font"
}

:root {
    scrollbar-color: var(--color-baskerville-accent-tertiary);
    scrollbar-width: thin;
}

.mce-content-body {
    font-family: var(--font-mono) !important;
}


/* ### LOCAL FONTS ############################### */

/* -- HEADER -------------------- */
@font-face {
    font-family: "Header";
    src: url("../ui/fonts/Quando/Quando-Regular.ttf");
}

/* --  SERIF  -------------------- */
@font-face {
    font-family: "Primary Font";
    font-weight: normal;
    src: url("../ui/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: "Primary Font Bold";
    font-weight: bold;
    src: url("../ui/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
}

/* -- SANS SERIF -------------------- */
@font-face {
    font-family: "Primary Sans";
    src: url("../ui/fonts/Signika/Signika-VariableFont_wght.ttf");
}

/* --- MONOSPACED -------------------- */
@font-face {
    font-family: "Monospaced";
    src: url("../ui/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf");
}

/* -- LvlUp Font -------------------- */
@font-face {
    font-family: "LevelUp Font";
    src: url("../ui/fonts/Charm/Charm-Regular.ttf");
}

/* ## Editor ##################### */

/* -- TinyMCE -------------------- */
.tox-tinymce {
    border-radius: 0px !important;
    color: var(--primary-font);
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
    background-color: rgba(238, 238, 238, 0.45) !important;
}

.dungeonworld.sheet .tox-tinymce .tox-toolbar-overlord, .dungeonworld.sheet .tox-tinymce .tox-toolbar__primary {
    background: rgba(240, 240, 240, 1);
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.tox.tox-tinymce .tox-edit-area__iframe {
    background: #b5b3a4;
}

/* -- PoseMirror -------------------- */

.prosemirror menu button {
    height: 30px !important;
}

.prosemirror .editor-container .editor-content {
    font-family: var(--font-mono);
}

.prosemirror menu .pm-dropdown li {
    color: #000 !important;
}

/* ## Header ############################### */

h1, h2, h3, h3 {
    color: inherit;
    border-color: var(--color-baskerville-inactive);
    border-width: 2px;
    font-family: var(--font-header) !important;
}

h1.nue, h2.nue, h3.nue, h3.nue, footer.nue {
    border-color: var(--color-baskerville-border);
}

hr {
    border-top: 1px solid var(--color-baskerville-glow);
    border-bottom: 1px solid var(--color-baskerville-glow);
}

footer {
    color: inherit;
    font-family: var(--font-sans) !important;
}

.vtt .window-header {
    font-family: var(--font-header) !important;
    line-height: normal !important;
    background: var(--color-baskerville-text-dark);
}

/* ## Scrollbar #################### */

::-webkit-scrollbar {
    background: inherit;
    border: 1px solid transparent;
    border-radius: 1px;
    border-width: 1px;
    background: transparent;
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 6px var(--color-baskerville-glow) inset;
    box-shadow: 0 0 6px var(--color-baskerville-glow) inset;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-baskerville-accent);
    border-radius: 0;
    outline: none;
    border: none;
}

/* ## Logo #################### */
/*
#logo {
    content: url(../ui/dwlogo.webp);
    height: 80px;
}
*/

/* ## Pause #################### */

#pause figcaption {
    font-family: var(--font-header) !important;
    text-shadow: 3px 3px var(--color-baskerville-shadow);
    font-size: 3em;
}

#pause img {
    content: url(../ui/pauseicon.svg);
}

/* ## Icons ################### */
.vtt .window-app a:hover, .vtt .window-app a:focus, .vtt .window-app.filepicker .file-directory>li:hover, .vtt .window-app.filepicker .file-directory>li:focus {
    color: var(--color-baskerville-accent);
}

/* ## Input  #################### */

label.checkbox>input[type="checkbox"] {
    position: inherit !important;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"] {
    background: var(--color-baskerville-text-dark);
    color: var(--color-baskerville-text-primary);
}

/* .vtt .window-app input, .vtt .window-app button, .vtt .window-app select, .vtt .window-app textarea */
.vtt .window-app input, .vtt .window-app button, .vtt .window-app textarea {
    font-family: var(--font-sans) !important;
    font-size: 1em;
    color: var(--color-baskerville-text-primary);
}

select {
    background: var(--color-baskerville-text-dark);
}

option, optgroup {
    font-family: inherit;
    background: var(--color-baskerville-content);
    border-radius: 0 !important;
}

/* ## Form Notes #################### */
form .notes, form .hint {
    color: var(--color-baskerville-accent);
}

form .form-group .form-fields {
    font-family: 'Signika';
}

/* ## Tagify #################### */

.tagify__input:empty::before {
    font-family: var(--font-sans);
    color: var(--color-baskerville-inactive);
}

/* ## Button #################### */

button, form button {
    background: inherit;
    border: 1px solid var(--color-baskerville-accent);
    background: var(--color-baskerville-content);
    color: var(--color-baskerville-text-primary);
    border-radius: 0px;
}

button:hover, form button:hover {
    cursor: pointer;
    border: 1px solid var(--color-baskerville-accent);
    background: var(--color-baskerville-accent);
    color: var(--color-baskerville-text-primary);
    -webkit-transition: .25s;
    transition: .25s;
    box-shadow: none !important;
}

/* ## Macro Hotbar #################### */

#hotbar .macro.active:hover {
    border: 2px solid var(--color-baskerville-accent-highlight);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-baskerville-accent-highlight) inset;
}

/* ## Controls Left #################### */

#controls ol.control-tools>li {
    background: var(--color-baskerville-background);
    color: var(--color-baskerville-text-tertiary);
    border: 1px solid var(--color-baskerville-border);
    border-radius: 0px;
}

#controls ol.control-tools>li.active, #controls ol.control-tools>li:hover {
    color: var(--color-baskerville-text-highlight);
    border: 1px solid var(--color-baskerville-accent);
    border-bottom: 1px solid var(--color-baskerville-accent);
    box-shadow: 0 0 10px var(--color-baskerville-glow);
}


/* ## Windows-App #################### */

.vtt .window-app {
    background: var(--color-bas);
    /*
    height: 60% !important;
    width: 20% !important;
    */
}

.window-app .window-header a {
    margin: 6px 0 0 8px;
}

.window-app .window-content {
    background: none;
    background-color: var(--color-baskerville-background-notrans);
    color: var(--color-baskerville-text-primary);
    overflow-y: scroll !important;
}

/*
.vtt .window-app button {
    font-family: var(--font-primary);
    background: var(--color-baskerville-content);
}
*/

.vtt .window-app button {
    background: inherit;
    border: 1px solid var(--color-baskerville-accent);
    background: var(--color-baskerville-content);
    color: var(--color-baskerville-text-primary);
    border-radius: 0px;
}

.vtt .window-app button:hover {
    cursor: pointer;
    border: 1px solid var(--color-baskerville-accent);
    background: var(--color-baskerville-accent);
    color: var(--color-baskerville-text-primary);
    -webkit-transition: .25s;
    transition: .25s;
    box-shadow: none !important;
}


/* ## Menu ##################### */

#menu {
    background: var(--color-baskerville-background);
    border-radius: 0px;
    border: 3px solid var(--color-baskerville-border-secondary);
}

#menu #menu-items li h4 {
    font-size: 1.5em;
    font-family: var(--font-header);
    text-shadow: none !important;
}

/* Remove Icons */

#menu #menu-items li > i {
    flex: 0;
    font-size: var(--font-size-24);
    line-height: 48px;
    display: none;
}

#menu #menu-items li:hover {
    /* text-shadow: 0 0 10px var(--color-shadow-highlight); */
    color: var(--color-baskerville-accent);
}

/* ## Sidebar #################### */

#sidebar {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 34, 44, 0.9)), color-stop(75%, rgba(33, 34, 44, 0.75)), to(rgba(33, 34, 44, 0.7)));
    background: linear-gradient(0deg, rgba(33, 34, 44, 0.9) 0%, rgba(33, 34, 44, 0.75) 75%, rgba(33, 34, 44, 0.7) 100%);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid transparent;
    border-radius: 0px;
    --shadow-color: 232deg 22% 2%;
    -webkit-box-shadow: -0.1px 0px .1px hsl(var(--shadow-color)/0.14), -0.9px .1px 1px -0.3px hsl(var(--shadow-color)/0.14), -1.8px .1px 2.1px -0.7px hsl(var(--shadow-color)/0.15), -2.9px .2px 3.4px -1px hsl(var(--shadow-color)/0.15), -4.6px .3px 5.3px -1.3px hsl(var(--shadow-color)/0.15), -7.1px .4px 8.2px -1.6px hsl(var(--shadow-color)/0.16), -10.7px .6px 12.4px -2px hsl(var(--shadow-color)/0.16), -15.7px .9px 18.2px -2.3px hsl(var(--shadow-color)/0.16);
    box-shadow: -0.1px 0px .1px hsl(var(--shadow-color)/0.14), -0.9px .1px 1px -0.3px hsl(var(--shadow-color)/0.14), -1.8px .1px 2.1px -0.7px hsl(var(--shadow-color)/0.15), -2.9px .2px 3.4px -1px hsl(var(--shadow-color)/0.15), -4.6px .3px 5.3px -1.3px hsl(var(--shadow-color)/0.15), -7.1px .4px 8.2px -1.6px hsl(var(--shadow-color)/0.16), -10.7px .6px 12.4px -2px hsl(var(--shadow-color)/0.16), -15.7px .9px 18.2px -2.3px hsl(var(--shadow-color)/0.16);
    width: 400px;
    margin: 0px;
    height: 100%;
}

#sidebar-tabs {
    border-bottom: none;
    box-shadow: none;
}

#sidebar-tabs>.item.active {
    color: var(--color-baskerville-accent);
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid var(--color-baskerville-accent);
    text-shadow: 0 0 0 4px var(--color-baskerville-accent);
}

#sidebar-tabs>.item.active:hover {
    text-shadow: 0 0 8px var(--color-baskerville-accent-highlight);
}

#sidebar-tabs>.item {
    color: var(--color-baskerville-text-secondary);
    background: transparent;
    border: none;
    text-shadow: 0 0 2px var(--color-baskerville-shadow);
}

#sidebar-tabs>.item:hover {
    color: var(--color-baskerville-accent-highlight);
    text-shadow: 0 0 2px var(--color-baskerville-glow);
}

/* -- Sidebar popout ------------------- */
.app.sidebar-popout .window-content {
    background: var(--color-baskerville-background-notrans);
}

/* ## Directory #################### */

.directory .directory-item.document {
    background: var(--color-baskerville-border);
    border-bottom: 4px solid black;
}

.directory .action-buttons button {
    width: 99%;
    width: -webkit-fill-available;
}

/* ## Chat #################### */

#chat-controls {
    padding-top: 9px;
}

.vtt #chat-log .message {
    /* background: var(--color-parchment) !important; */
    background: var(--color-baskerville-parchment);
    border: 5px solid;
    border-radius: 0px;
    color: var(--color-baskerville-text-dark);
    font-family: var(--font-primary);
    line-height: 135%;
    font-size: 0.9em;
    padding: 6px !important;
    margin: 5px 15px 10px 15px !important;
}

.vtt #chat-log .message.whisper {
    background: var(--color-baskerville-parchment);
}

/*
.vtt #chat-log h1, .vtt #chat-log h2, .vtt #chat-log h3, .vtt #chat-log h4, .vtt #chat-log h5 {
    /* color: var(--color-baskerville-accent) !important; */

*/ #sidebar-tabs>.item.active {
    border: 0px;
    border-bottom: 2px solid var(--color-baskerville-accent);
    box-shadow: none;
    text-shadow: 0 0 10px var(--color-baskerville-accent);
}

#sidebar.collapsed #sidebar-tabs>.item.active {
    border-bottom: 2px solid var(--color-baskerville-accent);
    border-radius: 0px;
}

#chat-log {
    background: inherit;
    border: 1px solid transparent;
    border-radius: 1px;
    border-width: 1px;
    background: transparent;
    border-radius: 2px;
}

.chat-message .message-header {
    line-height: 120%;
    color: var(--color-text-dark-secondary);
    /* border-bottom: 1px solid var(--color-baskerville-border); */
    margin-bottom: 5px;
}

.chat-message {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(135deg, var(--color-accent) 0%, var(--color-inactive) 100%);
    background: var(--color-baskerville-content);
    color: var(--color-baskerville-text-dark);
    margin-bottom: 5px;
}

.chat-message.whisper {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(135deg, var(--color-accent-highlight) 0%, var(--color-accent) 100%);
    background: var(--color-baskerville-content);
    color: var(--color-baskerville-text-dark);
}

.chat-message.blind {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(135deg, var(--color-accent-tertiary) 0%, var(--color-accent) 100%);
    background: var(--color-baskerville-content);
    color: var(--color-baskerville-text-dark);
}

.chat-message.emote {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(135deg, var(--color-success) 0%, var(--color-accent) 100%);
    background: var(--color-baskerville-content);
    color: var(--color-baskerville-text-dark);
}

.chat-message .message-content {
    color: var(--color-baskerville-text-dark);
}

.vtt #chat-log .message .chat-title {
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-top: 1px solid var(--color-baskerville-border);
    border-bottom: 1px solid var(--color-baskerville-border);
}

.vtt #chat-log .message .message-sender {
    font-family: var(--font-header) !important;
    color: var(--color-baskerville-text-dark);
}

.vtt #chat-log .message .result {
    border: none;
}

.vtt #chat-log .message .result-label {
    border: 2px solid !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

h4.dice-total {
    /* color: chartreuse; */
    font-family: var(--font-mono) !important;
}

.vtt #chat-log .dice-roll .dice-formula {
    font-family: var(--font-mono) !important;
}

/* ## Scenes #################### */

.app.window-app.sheet.scene-sheet {
    height: fit-content !important;
}

#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
    cursor: default;
    color: #414558;
    border: 0px !important;
    background: var(--color-baskerville-parchment);
    border-bottom: 0px !important;
    box-shadow: 0 0 6px var(--color-baskerville-parchment);
    font-family: var(--font-sans);
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
}

/* ## Charachter Sheet #################### */

/* -- Header -------------------- */

.dungeonworld.sheet .sheet-attributes .cell__title, .dungeonworld.sheet .sheet-resources .cell__title {
    font-family: var(--font-header);
}

.dungeonworld.sheet .cell__title,
.dungeonworld.sheet .cell__subtitle {
    font-family: var(--font-header);
    font-weight: 100;
    background: none;
}

.dungeonworld.sheet .input--title {
    font-family: var(--font-header);
    font-weight: 100;
    border-radius: 0px;
    color: var(--color-baskerville-text-primary) !important;
}

.dungeonworld.sheet label,
.dungeonworld.sheet h1,
.dungeonworld.sheet h2 {
    font-family: var(--font-header);
    font-weight: 100;
}

.dungeonworld.sheet h3,
.dungeonworld.sheet h4,
.dungeonworld.sheet h5,
.dungeonworld.sheet h6 {
    font-family: var(--font-header);
    font-weight: 100;
}

.dungeonworld.sheet .cell__title a,
.dungeonworld.sheet .cell__title button,
.dungeonworld.sheet .cell__subtitle a,
.dungeonworld.sheet .cell__subtitle button {
    font-size: 0.59em;
    color: var(--color-baskerville-text-primary)
}

.dungeonworld.sheet .tabs {
    border-bottom: 1px solid #000;
    font-family: var(--font-sans) !important;
}

.dungeonworld.sheet .tabs .item.active {
    background: var(--color-baskerville-parchment);
    font-style: normal;
}

.dungeonworld.sheet .tabs .item {
    color: var(--color-baskerville-inactive);
    font-style: italic;
}

.dungeonworld.sheet .tabs .item:hover, .dungeonworld.sheet .tabs .item:focus {
    background: #edf2f7;
    color: var(--color-baskerville-accent);
    font-style: normal;
}

.dungeonworld.sheet .tabs .item {
    border-bottom: 1px solid #000;
}

/* -- Content -------------------- */

.sheet .editor-content {
    /*color: var(--color-baskerville-text-primary);*/
    font-family: var(--font-sans);
}

.dungeonworld.sheet .sheet-tab .cell--bio {
    color: #000 !important;
}

.dungeonworld.sheet .sheet-look .cell__title {
    font-family: var(--font-header);
    font-size: 1.5em;
    color: var(--color-baskerville-text-dark);
}

.dungeonworld.sheet .sheet-look .editor-content {
    color: var(--color-baskerville-text-dark);
}

.dungeonworld.sheet .sheet-wrapper .sheet-look .toggle--look {
    border: none;
}

.vtt .window-app input:hover, .vtt .window-app input:focus, .vtt .window-app button:hover, .vtt .window-app button:focus, .vtt .window-app select:hover, .vtt .window-app select:focus, .vtt .window-app textarea:hover, .vtt .window-app textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5b7094;
}

.vtt #chat-form textarea {
    background: url(../ui/parchment_chat.webp) repeat;
    background-color: var(--color-baskerville-parchment);
    color: #000;
}

textarea:focus {
    box-shadow: inset 0 0 6px var(--color-baskerville-background-notrans);
    outline: none;
}

.dungeonworld.sheet .sheet-attributes .cell--damage select, .dungeonworld.sheet .sheet-resources .cell--damage select {
    color: var(--color-baskerville-text-dark);
}

.dungeonworld.sheet .cell--moves .item-label, .dungeonworld.sheet .cell--basic-moves .item-label, .dungeonworld.sheet .cell--starting-moves .item-label, .dungeonworld.sheet .cell--advanced-moves .item-label, .dungeonworld.sheet .cell--special-moves .item-label, .dungeonworld.sheet .cell--other-moves .item-label, .dungeonworld.sheet .cell--equipment .item-label, .dungeonworld.sheet .cell--spells .item-label {
    color: var(--color-baskerville-text-dark);
}

.dungeonworld.sheet .cell--moves .items-list .item, .dungeonworld.sheet .cell--basic-moves .items-list .item, .dungeonworld.sheet .cell--starting-moves .items-list .item, .dungeonworld.sheet .cell--advanced-moves .items-list .item, .dungeonworld.sheet .cell--special-moves .items-list .item, .dungeonworld.sheet .cell--other-moves .items-list .item, .dungeonworld.sheet .cell--equipment .items-list .item, .dungeonworld.sheet .cell--spells .items-list .item {
    color: var(--color-baskerville-text-dark);
    font-family: var(--font-sans);
}

.dungeonworld.actor .window-content {
    background: var(--color-baskerville-parchment);
    background-image: none;
}

.dungeonworld.sheet .tabs .item.active {
    background: var(--color-baskerville-parchment);
}

.dungeonworld.sheet .sheet-attributes input, .dungeonworld.sheet .sheet-resources input {
    font-family: var(--font-sans);
    font-size: 1em !important;
    color: var(--color-baskerville-text-dark);
}

.dungeonworld.sheet .cell--abilities .ability .ability-value {
    color: var(--color-baskerville-text-dark);
    font-family: var(--font-sans);
}

.dungeonworld.sheet .cell--abilities .ability .ability-mod {
    font-family: var(--font-mono);
    top: -27px !important;
}

.dungeonworld.sheet .cell--abilities .ability .ability-debility {
    font-family: var(--font-sans);
    font-size: 0.85em;
}

/* -- Bonds -------------------- */

.dungeonworld.sheet .cell--bonds .item-description {
    font-family: var(--font-sans);
    color: var(--color-baskerville-text-dark);
}

/* -- Delete Icon -------------------- */
.dungeonworld.sheet .cell--bonds .item-delete {
    color: var(--color-baskerville-text-dark);
}

.dungeonworld.sheet .cell--bonds .item-delete:hover {
    color: var(--color-baskerville-accent-highlight);
}

/* -- Resources -------------------- */
.dungeonworld.sheet .sheet-resources .cell--roll-mode label.checkbox {
    font-family: var(--font-header);
    font-size: 1em;
}

/* -- LVL-UP -------------------- */
.dungeonworld.sheet.dw-level-up h1, .dungeonworld.sheet.dw-level-up h2 {
    color: var(--color-baskerville-accent) !important;
}

.dungeonworld.sheet.dw-level-up .cell__description {
    background: var(--color-baskerville-content-window);
    font-family: var(--font-lvlup);
    font-size: 1.5em;
    border: solid 2px var(--color-baskerville-accent);
}

.dungeonworld.sheet.dw-level-up .item-label {
    color: var(--color-baskerville-text-primary);
}

.dungeonworld.sheet.dw-level-up .selection-list h2 {
    font-style: italic;
    font-size: 1.3em;
}

/* ## Journal #################### */

.sheet.journal-entry .journal-sidebar {
    background: var(--color-baskerville-background-notrans);
}

.sheet.journal-entry .window-content {
    background: var(--color-baskerville-background-notrans);
}

.sheet.journal-entry .journal-entry-page * {
    color: var(--color-baskerville-text-dark);
}

.journal-sheet .journal-header .title {
    color: #000;
    background: var(--color-baskerville-inactive);
    font-family: var(--font-header) !important;
}

/*
.journal-entry-page.text textarea.markdown-editor {
    color: black;
}
*/

.journal-page-content, th {
    /* background: green; */
    color: lightgrey !important;
}

/* ## PDF #################### */

.sheet.journal-entry .journal-entry-page {
    line-height: 150%;
}

.sheet.journal-entry .journal-entry-page h1, h2, h3, h4 {
    padding-top: 5px;
}

.sheet.journal-entry .journal-entry-page h2, h3, h4 {
    padding-top: 5px;
    border: none !important;
}

.sheet.journal-entry .scrollable {
    padding-right: 10px;
}

/* ## Settings #################### */

#module-management .package-list .package-title, #module-management .package-list .package-metadata, #module-management .package-list .package-description {
    color: var(--color-baskerville-text-primary)
}

.package-configuration aside.sidebar nav.tabs {
    padding-right: 7px;
}

.package-configuration aside.sidebar .reset-all {
    margin-top: 10px;
    font-size: 1em;
}

/* -- SETTING SIDEBAR -------------------- */

.settings-sidebar {
    overflow-y: initial;
}

#sidebar #settings ul {
    margin: 20px 10px;
    padding: 10px;
    font-family: var(--font-primary);
    color: var(--primary-font);
    background: var(--color-baskerville-content);
    border: 6px double var(--color-baskerville-glow);
    border-radius: 0px;
    box-shadow: none;
}

#client-settings .submenu button {
    background: inherit;
    border: 1px solid var(--color-baskerville-accent);
    background: var(--color-baskerville-content);
    color: var(--color-baskerville-text-primary);
    border-radius: 0px;
}

#client-settings .submenu button:hover {
    cursor: pointer;
    border: 1px solid var(--color-baskerville-accent);
    background: var(--color-baskerville-accent);
    color: var(--color-baskerville-text-primary);
    -webkit-transition: .25s;
    transition: .25s;
    box-shadow: none !important;
}

/* ## Notes #################### */

.vtt .window-app .NoteConfig-Scene {
    height: 50% !important;
}

/* ## TOKEN HUD #################### */

.placeable-hud input[type="text"] {
    color: darkgoldenrod !important;
    font-family: var(--font-mono);
}

#token-hud .attribute.bar1 input {
    color: darkgoldenrod !important;
}



/* ## Add-Ons #################### */

/* -- Kanka -------------------- */
button#kanka {
    width: 99%;
    width: -webkit-fill-available;
}

.kanka-journal .editable .write-action {
    font-size: 16px;
}

/* -- QuestLog -------------------- */
button.quest-log-btn {
    width: 99%;
    width: -webkit-fill-available;
}

/* -- DiceTray -------------------- */
.dice-tray button {
    border: 1px solid var(--color-baskerville-border-secondary);
    -webkit-box-shadow: none;
    box-shadow: none;

}

/* -- Monk's Journal -------------------- */
.monks-enhanced-journal .directory-sidebar>section .fa-search:before {
    content: none;
}

/* -- monks-active-tiles -------------------- */

#trigger-action .file-list .image-name, .monks-active-tiles .file-list .image-name {
    color: #fff;
}

.action-sheet .display-value {
    color: #fff;
}

.monks-active-tiles div[data-tab="triggers"] .action-items .action-style {
    color: #fff;
}

.monks-active-tiles.sheet .items-list .item .item-name {
    color: #fff;
}

.monks-active-tiles div[data-tab="triggers"] .action-items .details-style {
    color: #fff;
}

.monks-active-tiles div[data-tab="triggers"] .action-items .entity-style {
    font-style: italic;
    color: #fff;
}

/* -- Forien's Quest Log -------------------- */
#forien-quest-log.window-app .window-content {
    color: var(--color-baskerville-text-dark);
    background: var(--color-baskerville-parchment);
    box-shadow: 0px 8px 13px var(--color-baskerville-shadow);
    border-radius: 0px;
}

#forien-quest-log .quest-log.bookmarks nav.log-tabs .item {
    background: var(--color-baskerville-parchment) !important;
    font-family: var(--font-header);
    box-shadow: -16px 6px 13px var(--color-baskerville-shadow);
}

/* -- Black Sword Hack System -------------------- */

.app.window-app.bsh.bsh-sheet.bsh-character {
    width: 950px !important;
}

.bsh-input {
    color: #000 !important;
}

.bsh-cs-attribute-container-body {
    background-color: transparent;
}

input.bsh-base-attribute-input {
    color: #21222c !important;

}

#bsh-field, input {
    color: #21222c !important;

}

option, optgroup.bsh-input bsh-select {
    color: #fff;
    background: var(--color-baskerville-content);
    border-radius: 0 !important;
}

.bsh-tab-label {
    border-radius: 5px 5px 0 0;
}

/* -- Mouseover Charsheet -------------------- */
.fas.fa-bed.bsh-rest-icon:hover {
    color: var(--color-baskerville-accent-highlight);
}

.far.fa-pause-circle.bsh-rest-icon:hover {
    color: var(--color-baskerville-accent-highlight);
}

.fas.fa-dice-d20.bsh-attribute-roll-icon:hover {
    color: var(--color-baskerville-accent-highlight);
}

.fas.fa-dice-six.bsh-dice-roll-icon.bsh-action-icon:hover {
    color: var(--color-baskerville-accent-highlight);
}

/* ## Tagger #################### */

fieldset.tagger .tag-container .tag>* {
    cursor: pointer;
    color: #000;
}

/* ## Storyteller #################### */

.story-sheet .journal-page-content, .story-sheet .page-num.num-start h1, .story-sheet .page-num.num-start .pages-list>ol {
    color: #48392e !important;
}

.story-sheet .journal-entry-page.text {
    color: #48392e !important;
}


/* ## TEST-AREA 51 #################### */

.sheet.journal-entry .journal-entry-page img {
    border: 0;
}