/* ### DUNGEON WORLD UI ############################### */
/* ### LIGHT MODE #################### */

:root {
  /* Colors */
  --major-font-color: #f8f8f2;
  /*#c7c7c7;*/
  --header-font-color: #938e7a;
  --hover-font-color: #d2b346;
  --color-background: #282a36;
  /*#282a36;*/
  --color-border-dark: #44475a;
  --text-shadow: #050505;
  --major-font-color-chat: #050505;
  --color-input: #2C2E3A;
  --color-underline-active: #C85019;
  --color-parchment: #e5d4b9;

  /* Fonts */
  --font-primary: "Primary Font";
  --font-mono: "Monospaced";
  --font-header: "Header";
  --font-sans: "Primary Sans";
  --font-display: "Display";

}

/* ### LOCAL FONTS ############################### */

/* -- HEADER -------------------- */
@font-face {
  font-family: "Header";
  src: url("../../ui/fonts/david-libre-regular.ttf");
}

/* --  SERIF  -------------------- */
@font-face {
  font-family: "Primary Font";
  src: url("../../ui/fonts/Noto_Serif/NotoSerif-Regular.ttf");
}

@font-face {
  font-family: "Primary Font Bold";
  src: url("../../ui/fonts/Noto_Serif/NotoSerif-Bold.ttf");
}

/* -- SANS SERIF -------------------- */
@font-face {
  font-family: "Primary Sans";
  src: url("../../ui/fonts/Noto_Sans/NotoSans-Regular.ttf");
}

/* --- MONOSPACED -------------------- */
@font-face {
  font-family: "Monospaced";
  src: url("../../ui/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf");
}

/* -- Display -------------------- */
@font-face {
  font-family: "Display";
  src: url("../../ui/fonts/grenze-regular.ttf");
}

/* Headers */
h1,
h2,
h3,
h4 {
  font-family: var(--font-header) !important;
}

/* ========== GENERAL USER INTERFACE ========== */

a:hover {
  text-shadow: none !important;
  color: #f5b486;
}

/* BODY */

body {
  padding: 0px;
  overflow: hidden !important;
  background: url(ui/JournalBackdrop.webp) fixed !important;
  background-size: cover !important;
}

/* LOGO DISABLED */

/*
  #logo {
    content : url("ui/solasta_icon.webp");
    width: 64px !important;
    height: 64px;
  }
  */

/* PAUSE */

#pause>img {
  content: url(../../ui/pauseicon.svg);
  opacity: 10;
}

#pause figcaption {
  font-family: var(--font-display);
}

/* BUTTONS */

button {
  background: transparent !important;
  border: 2px solid #F5B486 !important;
  border-radius: 0px !important;
  color: #F5B486 !important;
}

/* -- APP -------------------- */

.app {
  border-radius: 0px !important;
  z-index: 100 !important;
}

.window-app .window-content {
  color: #fff !important;
  Background: #414b55 !important;
  box-shadow: 0px 0px 50px #000;
}

form .notes,
form .hint {
  color: #c9c7b8 !important;
}

#client-settings form .form-group>label {
  color: #c9c7b8 !important;
}

/* INPUT */

input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"] {
  border-radius: 0px !important;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus {
  box-shadow: none !important;
  border: 1px solid #F5B486;
}

input::placeholder {
  color: #737373 !important;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"] {
  color: #fff !important;
}

/* SIDEBAR */

#sidebar.collapsed {
  height: auto !important;
  width: auto !important;
  padding: 4px 5px 0px 5px !important;
  box-sizing: border-box;
  background: #000;
  border: none !important;
}

#sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh !important;
  width: 390px !important;
  margin: 0px !important;
  padding: 0px !important;
  background: #414b55F2;
  background-position-y: 100%;
  background-position-x: -5px;
  border-radius: 0px !important;
  box-shadow: none;
  border: 1px solid #757f89FF !important;
}

#sidebar-tabs>a:hover {
  color: #757f89FF;
}

#sidebar-tabs {
  border-bottom: 1px solid #757f89FF;
  font-size: 14px !important;
  background: transparent !important;
  box-shadow: none !important;
  background: #28323c !important;
}

#sidebar-tabs>.item.active {
  border: none;
  border-bottom: 2px solid #F5B486;
  box-shadow: none;
  text-shadow: none !important;
  color: #F5B486;
}

#sidebar-tabs>.item {
  border-radius: 0px !important;
}

#sidebar.collapsed #sidebar-tabs>.item.active {
  border: none;
  border-left: 2px solid #F5B486;
  box-shadow: none;
  text-shadow: none !important;

}


/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 2px;
  background: #ad8265;
  border: 1px solid #41332a;
  min-height: 40px;
  max-height: 40px;
}

.sidebar-tab ::-webkit-scrollbar {
  width: 8px;
}

.sidebar-tab ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 2px;
  background: #ad8265;
  border: 1px solid #41332a;
  min-height: 40px;
  max-height: 40px;
}

.app.window-app.form ::-webkit-scrollbar {
  width: 8px;
}

.app.window-app.form ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 2px;
  background: #ad8265;
  border: 1px solid #41332a;
  min-height: 40px;
  max-height: 40px;
}

/* CHAT */

#chat-form {
  display: flex;
  padding-bottom: 6px;
}

#chat-form textarea {
  background: url(ui/chat_bg.webp) !important;
  border: 2px solid #757f89;
  margin: 3px;
}

textarea {
  border-radius: 0px !important;
}

textarea:focus {
  outline: none !important;
  box-shadow: inset 0 0 6px 2px #000 !important;
}

#chat-controls {
  padding-top: 6px !important;
}

/* CHAT MESSAGE */

.chat-message {
  margin: 3px !important;
  padding: 5px !important;
  background: url(ui/chat_bg.webp) repeat;
  border-radius: 0px !important;
}

.chat-message .message-header {
  border-bottom: 1px solid #000;
  margin-bottom: 6px;
}

#chat-log .message {
  padding: 6px !important;
  margin: 8px 8px 10px 10px !important;
}

/* CHAT POPOUT */

#chat-popout #chat-controls {
  min-width: 280px;
  max-width: 280px;
}

/* COMPEDIUM */

/* COMPENDIUM PACKS */

.directory .directory-list .directory-item.folder {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#compendium li.compendium-pack {
  position: relative;
  padding: 4px 6px;
  line-height: 24px;
  background: transparent;
  border-top: 4px solid #000;
}

/* SETTINGS */

#settings button {
  border-radius: 0%;
  background: none;
  border: 2px solid #F5B486;
  font-family: "Source Sans";
  color: #F5B486;
}

button:hover,
button:focus {
  box-shadow: none !important;
  color: #fff !important;
  background: #7B615A !important;
}

.window-app .window-header {
  background: #28323c;
}

.app.sidebar-popout .window-content {
  background: #414b55f2;
}

#client-settings {
  background: none;
  height: 802px !important;
  width: 800px !important;
  box-shadow: none;
}

#client-settings section.content .settings-list {
  max-height: calc(100vh - 150px);
  overflow-y: unset;
  padding-right: 0.5em;
  height: 680px;
}

#settings h2 {
  font-size: 17px;
  font-family: 'Source Sans';
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
}

/* JOURNAL */

.directory .action-buttons button {
  width: 380px !important;
}

/* CONTROLS LEFT */

#controls ol.control-tools>li {
  border-radius: 0px !important;
  box-shadow: none !important;
  background: #414b55f2 !important;
  border: 2px solid #414b55f2 !important;
}

#controls ol.control-tools>li.active,
#controls ol.control-tools>li:hover {
  color: var(--color-text-light-highlight) !important;
  border: 2px solid #F5B486 !important;
  box-shadow: 0 0 4px #000 !important;
  background: #28323c !important;
}

/* MENU */

#menu {
  border-radius: 0px !important;
  background: #414b55 !important;
  box-shadow: 0px 0px 10px #000 !important;
  border: 3px solid #6E7276 !important;
  width: 330px !important;
}

/*
  .menu-reload::before {
  content: "SETTINGS";
  }
  */

#menu #menu-items li>i {
  display: none !important;
}

#menu #menu-items li h4 {
  font-size: 22px !important;
  font-family: "Source Sans";
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #F5B486;
  margin: 8px !important;
  border: 2px solid #F5B486;
}

#menu #menu-items li h4:hover {
  color: #fff;
  background-image: radial-gradient(circle, #AD8265, #AD8265, transparent);
}

#menu #menu-items li:hover {
  text-shadow: none !important;
}


/* ========== HOTBAR ========== */

/*
  #ui-bottom>div {
    justify-content: center !important;
  }
  */

/* POP OUTS */

.app.sidebar-popout .window-content {
  background: #414b55f2 !important;
}

/* ADD-ONS */

/* DICE TRAY */

.dice-tray button {
  border: 2px solid #6E7276 !important;
  background: transparent !important;
  -webkit-box-shadow: 0 0 0 !important;
  box-shadow: 0 0 0 !important;
}

/* HERO CREATOR */

.hct-search-autocom-box li {
  color: #000 !important;
}